@import '__refer.scss';

.navItem {
  width: 115px;
  height: 115px;
  @extend %inline-block;
  margin-right: (16% / 645 * 100);
  // @include breakpoint($xs) {
  //   width: 100%;
  //   text-align: center;
  // }
  @include breakpoint($xs) {
    margin: 1em;
  }
  &.active .navItem__refer {
    box-shadow: inset 0 0 15px $shadow;
  }
} 