.navList {
  
  @extend %fullWidth;
  @include breakpoint($sm) {
    font-size: (21em / 16);
  }
  @include breakpoint($xs) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba($lightGray, .8);
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    padding-top: 10%;
    
  }
}

@import 'navItem.scss';
