
.makeOrderFormWrapper {
	@extend %roundBorder4;
	@extend %beneathShadow;
	@extend %widthBorder4;
	@extend %solidBorder;
	margin: 2em auto 1em;
	width: 601px;
	border-color: $yellow;
	padding: 33px 80px 44px 40px;
	background-color: $purple;
	@include breakpoint($xs) {
		width: span(12);
		padding: 33px 65px 44px;
	}
}
@import '__closeButton.scss';
@import 'makeOrderForm.scss';