.serviceTabs {
	@extend %purpleBg;
	@extend %innerShadow;
	@extend %roundBorder4;
	padding: 40px 10% 60px;
	max-width: 825px;
	@extend %center-block;
	@extend %largeTopMargin;
	@extend %fullWidth;
	order: 2;
	@extend %largeBottomMargin;
}

@import '__navigation.scss';
@import '__table.scss';