.service {
	@extend %darkGrayBg;
	color: $lightGray;
	padding: 75px 0 85px;
	& > .ui.container {
		@extend %flex;
		@extend %defaultColumnFlow;
		@extend %alignStart;
		@extend %justifyBetween;
	}
}

.service__paragraph, .serviceMakeOrderButton, .service__title {
	@include breakpoint($lg) {
		margin-left: 13.5%;
	}
	@include breakpoint($md) {
		margin-left: 6%;
	}
}

@import '__title.scss';
@import '__paragraph.scss';
@import '__referToAllServices.scss';
@import 'serviceTabs/serviceTabs.scss';
@import 'serviceMakeOrderButton/serviceMakeOrderButton.scss';