.advice {
	@extend %clearfix;
	@extend %darkPurpleBg;
	color: $lightGray;
	@extend %defaultTopBottomPaddings;
}
.advice > .ui.container, .adviceArticle {
		@include breakpoint(1400px) {
			padding: 0 15%;
		}
		@include breakpoint($md-up) {
			padding: 0 25%;
		}
		@include breakpoint($sm-less) {
			padding: 0 15%;
		}
		@include breakpoint($xxs) {
			padding: 0 5%;
		}
	}

@import '__title.scss';
@import 'adviceList/adviceList.scss';