%smallGrayButton {
	border-radius: 0 $i;
	width: 100%;
	max-width: 100px;
	padding: 6px 0 0 $i;
	height: 35px;
	background-color: $gray $i;
	font-size: (12em / 16) $i;
	font: {
		family: $mainFont;
		size: (12em / 16) $i;
		weight: bold;
	}
	color: $lightGray $i;
	@extend %text-center;
	@extend %buttonShadow;
	$darkenGray: darken($gray, 5%) $i;
	@include smooth-transition-button($background-color: $darkenGray);
}	

%elementButtonContainer {
	width: 115px;
  	height: 115px;
  	@extend %inline-block;
}

%elementButton {
  @extend %fullWidth;
  @extend %fullHeight;
  @extend %text-right;
  @extend %block;
  border: 4px solid $black;
  border-radius: 3px;
  color: $lightGray $i;
  background-color: $green;
  box-shadow: 0 0 15px $shadow;
  padding: 6px 10px 0 6px;
  &:hover {
    background-color: lighten($green, 5%);
  }
}

%elementButton__name {
  display: inherit;
  word-break: initial;
  margin-top: 50px;
  @extend %fs-18;
}

%elementButton__icon {
	@extend %floatLeft;
}

%elementButton__number {
	@extend %floatRight;
}
