%formInput {
	@extend %fullWidth;
	background-color: $darkGray;
	@extend %fs-16;
	color: $lightGray;
	height: 45px;
	padding-left: 15px;
	max-width: 345px;
	// @extend %navItemShadow--active;
	transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
	@include placehodler-color-focus($gray);
	&:focus {
		color: $darkGray;
		@extend %buttonShadow;
		background-color: $darkenLightGray;
	}
}

%formError {
	color: $darkRed;
	font-size: (13em / 16);
}

%controller {
	@extend %largeTopMargin;
}