.navigation__asideButtons {
	@extend %fixed;
	@extend %index4;
	bottom: 26px;
	left: (45% / 1400 * 100);
	display: none;
}


.orderCallbackButtonContainer, .upButtonRefer {
	&__name--aside {
		@extend %fs-16;
	}
	&__icon--aside {
		max-width: 30px $i;
	}
}
@import 'orderCallbackButton/orderCallbackButton.scss';
@import 'upButton/upButton.scss';