.services {
	background-color: $yellow;
	@extend %clearfix;
	padding-top: 80px;
	@include breakpoint($xs) {
		margin-top: -100px;
		padding-top: 0;
	}
	@include breakpoint($xxs) {
		margin-top: 0;
		padding-top: 5%;
	}
}
@import '__paragraph.scss';
@import '__figure.scss';
@import '__title.scss';
@import 'servicesList/servicesList.scss';